[bottle]
debug = False

[forklift]
port = 8080
api_key = 12345
docker_root = /srv/docker
valid_containers = {'docker_user/image_name':
                     [{'tag': 'latest', 'target': 'target_dir/update'},
                      {'tag': 'main', 'target': 'target_dir/update'},
                      {'tag': 'test', 'target': 'test_dir/update'}],
                    'other_user/other_name':
                      [{'tag': 'stable-.+', 'target': 'other_target_dir/update'}],
                    'gh_user/repo_name':
                     [{'tag': 'refs/heads/main', 'target': 'target_dir/update'},
                      {'tag': 'latest', 'target': 'target_dir/package_update'}]
                   }
