[bottle]
debug = False

[forklift]
port = 8080
api_key = 12345
docker_root = /srv/docker
valid_containers = {'docker_user/image_name': {'target': 'target_dir/update', 'tag': 'latest'},
                    'other_user/other_name': {'target': 'other_target_dir/update', 'tag': 'stable-0.1-rc1'}}
